{% include "partials/htmlhead.njk" %}

<header>

	<p class="logo">
		<a href="/"><img src="/images/logo.svg" width="20" height="20" alt="Junder" inline>Junder Docs</a>
	</p>
	<button id="themetoggle" title="switch theme"></button>
</header>

<main>
	{% block content %}

		<h1>{{ title }}</h1>

		{{ content | safe }}

		{% include "partials/pagelist.njk" %}

	{% endblock %}
</main>

<footer>
&nbsp;
</footer>

{% include "partials/htmlfoot.njk" %}